@charset "UTF-8";

.rub:after {
  content: "₽";
}

@font-face {
  font-family: "Museo";
  font-display: swap;
  src: url("../fonts/MuseoCyrl-300.woff") format("woff"), url("../fonts/MuseoCyrl-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo-500";
  font-display: swap;
  src: url("../fonts/MuseoCyrl-500.woff") format("woff"), url("../fonts/MuseoCyrl-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Vampiro One";
  font-display: swap;
  src: url("../fonts/VampiroOne-Regular.woff") format("woff"), url("../fonts/VampiroOne-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Museo";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Museo";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-container-pointer-events.swiper-container-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */

.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body {
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  color: #000;
}

body.lock {
  overflow: hidden;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

._anchor {
  position: absolute;
  top: -100px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  display: inline-block;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 333px;
  padding: 17px 0;
  color: #000;
  line-height: normal;
  font-weight: 700;
  font-size: 35px;
  border-radius: 22px;
  background-color: #ffe500;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn:hover {
  background-color: #2a2a72;
  background-image: -o-linear-gradient(135deg, #2a2a72 0%, #009ffd 74%);
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: #fff;
}

.title {
  font-size: 70px;
  line-height: 120%;
}

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #ffe500;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23.34337%;
          flex: 1 1 23.34337%;
}

.logo {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.logo__name {
  font-family: "Vampiro One";
  font-size: 40px;
  color: #000;
  white-space: nowrap;
}

.menu-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
  font-size: 24px;
}

.menu-header__link {
  color: #000;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-header__list li {
  white-space: nowrap;
  padding-right: 10px;
  cursor: pointer;
}

.menu-header__list li:last-child {
  padding-right: 0;
}

.menu-header__list li:hover a {
  color: #451db9;
}

.contacts-header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10.91867%;
          flex: 1 1 10.91867%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 20px;
}

.contacts-header__item {
  padding-right: 10px;
}

.contacts-header__item:last-child {
  padding-right: 0;
}

.header__burger {
  display: none;
}

.greeting__title {
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.greeting__title span {
  color: #451db9;
}

.greeting__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.greeting__column_l {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.91304%;
          flex: 0 1 48.91304%;
}

.greeting__column_r {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28.26087%;
          flex: 0 1 28.26087%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.greeting__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.greeting__description {
  padding: 34px 0px 0px 0px;
  margin-bottom: 70px;
  font-size: 30px;
  line-height: 120%;
}

.greeting__btn {
  margin: 0px 0px 43px 0px;
  font-size: 35px;
}

.greeting__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.greeting__img_s {
  display: none;
}

.greeting__img_xs {
  display: none;
}

.about-us {
  position: relative;
}

.about-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -20px;
}

.about-us__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46.66149%;
          flex: 0 1 46.66149%;
  padding: 0px 20px 40% 0px;
}

.about-us__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46.58385%;
          flex: 0 1 46.58385%;
  padding: 40px 0px 0px 20px;
}

.about-us__title {
  margin: 0px 0px 25px 0px;
  opacity: 0;
  -webkit-transition: all 0.6s ease .1s;
  -o-transition: all 0.6s ease .1s;
  transition: all 0.6s ease .1s;
}

.about-us__title._active {
  opacity: 1;
}

.about-us__text {
  font-size: 30px;
  line-height: 120%;
  opacity: 0;
  -webkit-transition: all 0.6s ease .4s;
  -o-transition: all 0.6s ease .4s;
  transition: all 0.6s ease .4s;
}

.about-us__text._active {
  opacity: 1;
}

.about-us__text span {
  font-family: "Vampiro One";
}

.about-us__br_2 {
  display: none;
}

.services {
  position: relative;
}

.services__title {
  margin-bottom: 35px;
}

.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.services__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.services__card_first {
  -webkit-transform: translate(-150px, 0px);
      -ms-transform: translate(-150px, 0px);
          transform: translate(-150px, 0px);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.services__card_first._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.services__card_last {
  -webkit-transform: translate(150px, 0px);
      -ms-transform: translate(150px, 0px);
          transform: translate(150px, 0px);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.services__card_last._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.services__card_middle {
  -webkit-transform: translate(0px, 150px);
      -ms-transform: translate(0px, 150px);
          transform: translate(0px, 150px);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.services__card_middle._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.services__card_middle p {
  margin-bottom: 110px;
}

.card-services__column {
  padding: 0 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-services__image {
  margin-bottom: 20px;
  border-radius: 50%;
}

.card-services__title {
  margin-bottom: 10px;
  font-family: 'Museo-500';
  font-size: 30px;
  line-height: 120%;
}

.card-services__title span {
  white-space: nowrap;
}

.card-services__btn_hidden {
  display: none;
}

.features__title {
  margin-bottom: 60px;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 44.40994%;
          flex: 0 1 44.40994%;
  margin-bottom: 50px;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.features__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.features__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.features__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.features__item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.features__item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.features__item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.features__item._active {
  opacity: 1;
}

.features__item:nth-child(odd) {
  margin-right: 88px;
}

.item-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-features__image {
  margin-right: 30px;
}

.item-features__title {
  margin-bottom: 8px;
  font-size: 30px;
  line-height: 120%;
}

.item-features__title_br {
  display: none;
}

.gallery {
  position: relative;
}

.gallery__title {
  margin-bottom: 35px;
}

.gallery__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding-top: 30px;
}

.gallery__slide {
  padding: 0 0px 28% 0;
  -webkit-box-shadow: 11px -5px 20px 0px rgba(69, 29, 185, 0.6);
          box-shadow: 11px -5px 20px 0px rgba(69, 29, 185, 0.6);
}

.gallery__slide:last-child {
  margin-right: 0;
}

.gallery__image_xs {
  display: none;
}

.gallery__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.gallery__arrow {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #fbb034;
  background-image: -o-linear-gradient(135deg, #fbb034 0%, #ffdd00 74%);
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

.gallery__arrow:last-child {
  margin-right: 0;
}

.gallery__arrow._active {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  background-color: #2a2a72;
  background-image: -o-linear-gradient(135deg, #2a2a72 0%, #009ffd 74%);
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.gallery .arrow-right {
  -webkit-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.gallery .arrow-right img {
  width: 60px;
}

.gallery .arrow-left {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.gallery .arrow-left img {
  width: 60px;
}

.gallery__main-photo {
  display: none;
}

.hover-item-gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform .5s ease 0s;
  transition: -webkit-transform .5s ease 0s;
  -o-transition: transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s, -webkit-transform .5s ease 0s;
  -webkit-transform: translate(0px, -120%);
      -ms-transform: translate(0px, -120%);
          transform: translate(0px, -120%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.84);
  color: #fff;
}

.hover-item-gallery__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #fff;
}

.hover-item-gallery__title {
  margin-bottom: 25px;
  font-family: "Museo-500";
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #C4C4C4;
}

.hover-item-gallery__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  line-height: 115%;
  color: #FFE500;
}

.hover-item-gallery__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 133px;
  padding: 5px;
  margin-bottom: 50px;
  border: 2px solid #ffe500;
  border-radius: 10px;
}

.hover-item-gallery__link {
  line-height: 120%;
  color: #c4c4c4;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.label-gallery {
  display: none;
}

.prices__title {
  margin-bottom: 30px;
}

.prices__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -30px;
  padding-top: 20px;
  overflow: hidden;
}

.prices__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.8323%;
          flex: 0 1 31.8323%;
  max-width: 345px;
  padding: 0 30px;
  border-radius: 15px;
  background-color: #451db9;
}

.card-prices {
  padding: 20px 20px 25px 20px;
  position: relative;
}

.card-prices__image {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-prices__image img {
  border-radius: 129px;
  z-index: 2;
}

.card-prices__title {
  margin-bottom: 13px;
  padding-left: 10px;
  color: #fff;
  font-family: "Museo-500";
  font-size: 32px;
  line-height: 118.75%;
}

.card-prices__list {
  padding-left: 10px;
}

.card-prices__item {
  position: relative;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  line-height: 122.22222%;
}

.card-prices__item::before {
  content: '';
  position: absolute;
  top: 45%;
  left: -11px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}

.card-prices__item:last-child {
  margin-bottom: 0;
}

.contacts {
  position: relative;
}

.contacts__title {
  margin-bottom: 50px;
}

.contacts__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 40px;
}

.contacts__column:last-child {
  margin-right: 0;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.contacts__telegramm {
  margin-bottom: 35px;
}

.contacts__icon {
  margin-right: 30px;
}

.contacts__text {
  font-size: 30px;
  line-height: 120%;
  color: #000;
}

.contacts__btn a {
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  color: #000;
}

.contacts__btn:hover a {
  color: #fff;
}

.contacts__label {
  margin-bottom: 20px;
  font-family: "Museo-500";
  font-size: 34px;
}

.contacts__photo {
  margin-bottom: 20px;
}

.contacts__photo img {
  border-radius: 50%;
}

.footer {
  width: 100%;
  padding: 20px 0;
  background-color: rgba(255, 229, 0, 0.5);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__row:first-child {
  margin-bottom: 55px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list li {
  margin-right: 15px;
}

.footer__list:last-child {
  margin-right: 0;
}

.footer__text {
  font-size: 20px;
  line-height: 120%;
  color: #545355;
}

.footer__text span {
  font-family: "Vampiro One";
  font-size: 25px;
  line-height: 124%;
  color: #000;
}

.footer__text_copyright {
  position: relative;
  padding-left: 20px;
}

._no-webp .footer__text_copyright::before{
  background: url("../img/icons/footer/copyright.png") 0 0 no-repeat; }

.footer__text_copyright::before {
  content: '';
  position: absolute;
  top: -5%;
  left: -7px;
  width: 20px;
  height: 20px;
}

._no-webp .wrapper{
  background: url("../img/icons/flower-s.png") -7.9% 63px no-repeat, url("../img/icons/square3.png") 104% 1150px no-repeat, url("../img/icons/flower-s.png") 1.1% 1379px no-repeat, url("../img/icons/square-second.png") -10.9% 2077px no-repeat, url("../img/icons/flower-s.png") 101% 2032px no-repeat, url("../img/icons/flower-s.png") 1.1% 2732px no-repeat, url("../img/icons/square-second.png") 109% 3177px no-repeat, url("../img/icons/flower-s.png") -6% 3732px no-repeat, url("../img/icons/flower-s.png") 86% 4185px no-repeat, url("../img/icons/square3.png") 109% 4380px no-repeat; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
}

._container {
  max-width: 1328px;
  padding: 0 20px;
  margin: 0px auto;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__greeting {
  padding-top: 160px;
  padding-bottom: 75px;
}

.page__about-us {
  margin-bottom: 75px;
}

.page__services {
  margin-bottom: 75px;
}

.page__gallery {
  margin-bottom: 80px;
}

.page__prices {
  padding: 0px 0px 80px 0px;
}

.page__contacts {
  margin-bottom: 80px;
}

.page__footer {
  padding: 20px 0;
}

@media (min-width: 767.98px) {
  ._no-webp .greeting__container{
    background: url("../img/icons/flower-m.png") 103% 56% no-repeat; }
}

@media (min-width: 991.98px) {
  .gallery__slide:hover .gallery__hover {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .hover-item-gallery__btn:hover {
    background-color: #ffe500;
  }

  .hover-item-gallery__btn:hover .hover-item-gallery__link {
    color: #000;
    font-weight: 700;
  }
}

@media (min-width: 1115px) {
  .prices__hover {
    top: 48%;
    height: auto;
    -webkit-transform: translate(0px, 200%);
        -ms-transform: translate(0px, 200%);
            transform: translate(0px, 200%);
    border-radius: 15px;
    background-color: #451db9;
  }

  .prices__hover .hover-item-gallery__body {
    border: none;
  }

  .prices__hover .hover-item-gallery__title {
    font-size: 33px;
    line-height: 124.24242%;
    color: #FFFFFF;
  }

  .prices__hover .hover-item-gallery__description {
    font-size: 22px;
    line-height: 118.18182%;
  }

  .prices__hover .hover-item-gallery__description p:first-child {
    margin-bottom: 5px;
  }

  .prices__hover .hover-item-gallery__description p:last-child {
    font-family: "Museo-500";
    font-size: 34px;
  }

  .prices__hover .hover-item-gallery__title {
    margin-bottom: 15px;
  }

  .prices__hover .hover-item-gallery__description {
    margin-bottom: 30px;
  }

  .prices__hover .hover-item-gallery__btn {
    width: 200px;
    padding: 8px 0;
    margin: 0;
  }

  .prices__hover .hover-item-gallery__btn a {
    font-size: 32px;
    line-height: 131.25%;
  }

  .prices__card:hover .prices__hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition-delay: .2s;
         -o-transition-delay: .2s;
            transition-delay: .2s;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .prices__card:hover .card-prices__list li::before {
    display: none;
  }

  .prices__card:hover .card-prices__list li,
  .prices__card:hover .card-prices__title {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-align: center;
    font-size: 0;
  }

  .prices__card:hover .card-prices__image {
    margin-bottom: 0;
  }

  .prices__card:hover .card-prices__image img {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0, -15%) scale(1);
        -ms-transform: translate(0, -15%) scale(1);
            transform: translate(0, -15%) scale(1);
  }
}

@media (max-width: 1328px) {
  .btn {
    font-size: calc(20px + 15 * ((100vw - 320px) / 1008));
  }

  .title {
    font-size: calc(35px + 35 * ((100vw - 320px) / 1008));
  }

  .greeting__title {
    margin-bottom: calc(10px + 28 * ((100vw - 320px) / 1008));
  }

  .greeting__description {
    margin-bottom: calc(10px + 60 * ((100vw - 320px) / 1008));
  }

  .about-us__text {
    font-size: calc(16px + 14 * ((100vw - 320px) / 1008));
  }

  .services__title {
    margin-bottom: calc(20px + 15 * ((100vw - 320px) / 1008));
  }

  .features__title {
    margin-bottom: calc(20px + 40 * ((100vw - 320px) / 1008));
  }

  .features__item {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1008));
  }

  .gallery__title {
    margin-bottom: calc(20px + 15 * ((100vw - 320px) / 1008));
  }

  .prices__title {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 1008));
  }

  .contacts__label {
    font-size: calc(28px + 6 * ((100vw - 320px) / 1008));
  }

  .page__greeting {
    padding-bottom: calc(65px + 10 * ((100vw - 320px) / 1008));
  }
}

@media (max-width: 1250px) {
  .services__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -50px;
  }

  .services__card {
    padding: 0 50px;
  }

  .services__card_middle p {
    margin-bottom: 0;
  }

  .card-services:last-of-type {
    margin-bottom: 30px;
  }

  .card-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -38px;
  }

  .card-services:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .card-services__column_1 {
    padding-right: 0;
  }

  .card-services__column_2 {
    padding-left: 0;
  }

  .card-services__image {
    max-width: 310px;
  }

  .card-services__description {
    max-width: 388px;
  }

  .card-services__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .card-services__btn_2 {
    display: none;
  }

  .card-services__btn_3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1250px) and (max-width: 740px) {
  .card-services:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1150px) {
  .hover-item-gallery__title {
    display: none;
  }

  .hover-item-gallery__btn_2 {
    width: 270px;
    height: 73px;
    margin-bottom: 0;
    background-color: #ffe500;
    border: none;
  }

  .hover-item-gallery__btn_2 a {
    font-size: 30px;
    color: #000;
  }

  .prices__title {
    text-align: center;
  }

  .card-prices__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card-prices__list {
    margin-bottom: 15px;
  }
}

@media (max-width: 1115px) {
  .hover-item-gallery {
    display: none;
  }

  .hover-item-gallery__body {
    border: none;
  }
}

@media (max-width: 1100px) {
  .about-us__container ._ibg img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .label-gallery {
    position: absolute;
    bottom: 3px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.84);
    color: #fff;
  }

  .label-gallery__title {
    margin-bottom: 10px;
  }

  .label-gallery__title_1 {
    line-height: 120%;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  .label-gallery__btn {
    width: 138px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .prices__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1080px) {
  .prices__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  .menu-header {
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 2;
    padding: 120px 20px 30px 20px;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    background-color: #ffe500;
  }

  .menu-header._active {
    opacity: 1;
    visibility: visible;
  }

  .menu-header__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts-header {
    display: none;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    cursor: pointer;
    z-index: 5;
  }

  .header__burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 2px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
  }

  .header__burger span:first-child {
    top: 0px;
  }

  .header__burger span:last-child {
    top: auto;
    bottom: 0px;
  }

  .header__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 2px);
  }

  .header__burger._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 2px);
  }

  .contacts__title {
    text-align: center;
  }

  .contacts__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__column {
    margin-right: 0;
    margin-bottom: 80px;
  }

  .contacts__column:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 816px) {
  .features__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .features__item:nth-child(odd) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  ._no-webp .wrapper{
    background: url("../img/icons/flower-m.png") 97% 100px no-repeat, url("../img/icons/flower-s.png") -21.9% 6114px no-repeat, url("../img/icons/square3.png") 146% 959px no-repeat, url("../img/icons/flower-s.png") -4.9% 1379px no-repeat, url("../img/icons/square-second.png") -24.9% 2077px no-repeat, url("../img/icons/flower-s.png") 103% 2432px no-repeat, url("../img/icons/flower-s.png") -36.9% 2799px no-repeat, url("../img/icons/square-second.png") 109% 3131px no-repeat, url("../img/icons/flower-s.png") -6% 3832px no-repeat, url("../img/icons/flower-s.png") -10% 5085px no-repeat, url("../img/icons/square3.png") 109% 4380px no-repeat, url("../img/icons/square-second.png") 109% 6582px no-repeat; }
}

@media (max-width: 767.98px) {
  .menu-header {
    font-size: 32px;
    font-family: 'Museo-500';
  }

  .menu-header__list li {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .greeting__title {
    max-width: 500px;
  }

  .greeting__description {
    font-size: 20px;
  }

  .greeting__description {
    padding: 0;
    max-width: 284px;
  }

  .greeting__btn {
    max-width: 284px;
    margin: 0;
  }

  .greeting__image {
    margin-top: -75px;
  }

  .greeting__img_m {
    max-width: 317px;
  }

  .greeting__img_s {
    display: inline-block;
  }

  .about-us__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 417px;
            flex: 0 1 417px;
  }

  .about-us__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 295px;
            flex: 0 1 295px;
    padding: 0;
  }

  .about-us__title {
    margin-bottom: 10px;
  }

  .about-us__br_1 {
    display: none;
  }

  .about-us__br_2 {
    display: inline;
  }

  .services__title {
    text-align: center;
  }

  .features__title {
    text-align: center;
  }

  .features__item {
    margin-right: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .gallery__slide {
    padding-bottom: 50%;
  }

  .gallery__image_m {
    display: none;
  }

  .gallery__image_xs {
    display: inline-block;
  }

  .footer__logo .logo__icon img {
    width: 57px;
  }

  .footer__logo .logo__name {
    font-size: 32px;
  }

  .footer__text_politic {
    display: none;
  }

  ._container {
    padding: 0 16px;
  }
}

@media (max-width: 750px) {
  .services__card p {
    margin-bottom: 25px;
  }

  .services__card p:last-child {
    margin-bottom: 0;
  }

  .card-services__column {
    padding: 0;
  }

  .card-services__column:first-of-type {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card-services__btn {
    margin-bottom: 40px;
  }

  .card-services__btn_hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .card-services__btn_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 740px) {
  .services__cards {
    margin: 0;
  }

  .services__card {
    padding: 0;
  }

  .card-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card-services__title span {
    white-space: pre-wrap;
  }
}

@media (max-width: 700px) {
  .about-us__image {
    display: none;
  }

  .about-us__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .about-us__title {
    text-align: center;
  }
}

@media (max-width: 640px) {
  .gallery__slide {
    padding-bottom: 88%;
  }

  .label-gallery {
    bottom: 0;
  }
}

@media (max-width: 600px) {
  .menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__row:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__text_develop {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .contacts__icon {
    width: 35px;
    margin-right: 15px;
  }

  .contacts__text {
    font-size: 20px;
  }
}

@media (max-width: 479.98px) {
  .btn {
    width: 220px;
  }

  .logo__icon img {
    width: 40px;
  }

  .logo__name {
    font-size: 26px;
  }

  .menu-header__list {
    font-size: 30px;
  }

  .greeting__column_l {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 57%;
            flex: 0 1 57%;
  }

  .greeting__description {
    font-size: 15px;
  }

  .greeting__btn {
    width: 178px;
    padding: 10px 0;
  }

  .greeting__image {
    margin-top: 0;
  }

  .greeting__img_m {
    max-width: 145px;
  }

  .greeting__img_xs {
    display: inline-block;
  }

  .about-us__br {
    display: none;
  }

  .services__card p {
    margin-bottom: 20px;
  }

  .card-services__column {
    max-width: 350px;
  }

  .card-services__btn {
    margin-bottom: 20px;
  }

  .item-features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-features__image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .item-features__title_br {
    display: inline;
  }

  .item-features__title {
    text-align: center;
    font-size: 28px;
  }

  .hover-item-gallery__btn_2 {
    width: 200px;
  }

  .card-prices__image img {
    max-width: 250px;
  }

  .card-prices__title {
    font-size: 24px;
  }

  .contacts__title {
    margin-bottom: 30px;
  }

  .contacts__column {
    margin-bottom: 30px;
  }

  .contacts__link {
    margin-bottom: 15px;
  }

  .contacts__telegramm {
    margin-bottom: 15px;
  }

  .footer__row:first-child {
    margin-bottom: 0;
  }

  .footer__logo {
    display: none;
  }

  ._no-webp .wrapper{
    background: url("../img/icons/flower-m.png") 107% 220px/181px no-repeat, url("../img/icons/flower-s.png") -94.9% 6120px no-repeat, url("../img/icons/square3.png") 424% 1058px no-repeat, url("../img/icons/flower-s.png") -160.9% 1462px no-repeat, url("../img/icons/square-second.png") -463% 2077px no-repeat, url("../img/icons/flower-s.png") 103% 2670px/153px no-repeat, url("../img/icons/flower-s.png") 171.9% 6553px no-repeat, url("../img/icons/square-second.png") 417% 3131px no-repeat, url("../img/icons/flower-s.png") -155% 3832px no-repeat, url("../img/icons/flower-s.png") -147% 7002px no-repeat, url("../img/icons/square-second.png") 427% 7808px no-repeat; }

  .page__greeting {
    padding-top: 110px;
  }

  .page__contacts {
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .card-services__column {
    max-width: 320px;
  }
}

@media (max-width: 320px) {
  .card-services__column {
    max-width: 300px;
  }
}

._webp .footer__text_copyright::before{ background: url(../img/icons/footer/copyright.webp) 0 0 no-repeat; }

._webp .wrapper{ background: url(../img/icons/flower-s.webp) -7.9% 63px no-repeat, url(../img/icons/square3.webp) 104% 1150px no-repeat, url(../img/icons/flower-s.webp) 1.1% 1379px no-repeat, url(../img/icons/square-second.webp) -10.9% 2077px no-repeat, url(../img/icons/flower-s.webp) 101% 2032px no-repeat, url(../img/icons/flower-s.webp) 1.1% 2732px no-repeat, url(../img/icons/square-second.webp) 109% 3177px no-repeat, url(../img/icons/flower-s.webp) -6% 3732px no-repeat, url(../img/icons/flower-s.webp) 86% 4185px no-repeat, url(../img/icons/square3.webp) 109% 4380px no-repeat; }

@media (min-width: 767.98px){

  ._webp .greeting__container{ background: url(../img/icons/flower-m.webp) 103% 56% no-repeat; }
}

@media (max-width: 768px){

  ._webp .wrapper{ background: url(../img/icons/flower-m.webp) 97% 100px no-repeat, url(../img/icons/flower-s.webp) -21.9% 6114px no-repeat, url(../img/icons/square3.webp) 146% 959px no-repeat, url(../img/icons/flower-s.webp) -4.9% 1379px no-repeat, url(../img/icons/square-second.webp) -24.9% 2077px no-repeat, url(../img/icons/flower-s.webp) 103% 2432px no-repeat, url(../img/icons/flower-s.webp) -36.9% 2799px no-repeat, url(../img/icons/square-second.webp) 109% 3131px no-repeat, url(../img/icons/flower-s.webp) -6% 3832px no-repeat, url(../img/icons/flower-s.webp) -10% 5085px no-repeat, url(../img/icons/square3.webp) 109% 4380px no-repeat, url(../img/icons/square-second.webp) 109% 6582px no-repeat; }
}

@media (max-width: 479.98px){

  ._webp .wrapper{ background: url(../img/icons/flower-m.webp) 107% 220px/181px no-repeat, url(../img/icons/flower-s.webp) -94.9% 6120px no-repeat, url(../img/icons/square3.webp) 424% 1058px no-repeat, url(../img/icons/flower-s.webp) -160.9% 1462px no-repeat, url(../img/icons/square-second.webp) -463% 2077px no-repeat, url(../img/icons/flower-s.webp) 103% 2670px/153px no-repeat, url(../img/icons/flower-s.webp) 171.9% 6553px no-repeat, url(../img/icons/square-second.webp) 417% 3131px no-repeat, url(../img/icons/flower-s.webp) -155% 3832px no-repeat, url(../img/icons/flower-s.webp) -147% 7002px no-repeat, url(../img/icons/square-second.webp) 427% 7808px no-repeat; }
}